.flex-btnbox {
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all 0.03s;

  &:active {
    transform: translateY(3px);
  }

  @include respond(iPhone) {
    font-size: 2rem;
    padding-left: 0;
    margin-top: 3rem;
  }
}

.shop-btn {
  background-color: transparent;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  word-spacing: 0.2rem;
  font-weight: 500;
  border: none;
  text-align: left;
  padding-left: 8rem;

  &:hover {
    cursor: pointer;
  }

  @include respond(iPhone) {
    font-size: 2rem;
    padding-left: 0;
  }
}

.arrow {
  font-size: 2.3rem;
}

.slider-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  height: 6rem;
  width: 14rem;
  display: flex;

  @include respond(iPhone) {
    left: auto;
    bottom: auto;
    right: 0;
    top: -6.2rem;
  }

  &__btn {
    background-color: transparent;
    border: none;
    width: 50%;

    &:hover {
      cursor: pointer;
      background-color: lighten($color: #000000, $amount: 30);
    }
  }

  &__icon {
    width: 2.3rem;
    height: 2.3rem;
    fill: var(--color-paragraph);
  }
}
