body {
  font-family: 'Spartan', sans-serif; //500,600,700
}

.heading-h1 {
  font-size: 3.5rem;
  font-weight: 600;
  padding: 0 8rem;
  color: var(--color-black);

  @include respond(iPhone) {
    font-size: 4.5rem;
    padding: 0;
  }
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--color-paragraph);
  padding: 0 8rem;

  @include respond(iPhone) {
    font-size: 1.8rem;
    padding: 0;
  }
}

.heading-h2 {
  padding: 0 8rem;
  font-size: 1.8rem;

  @include respond(iPhone) {
    font-size: 2.5rem;
    padding: 0;
  }
}
